In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('Salary_Data.csv')

In [4]:
df.head

<bound method NDFrame.head of     YearsExperience   Age  Salary
0               1.1  21.0   39343
1               1.3  21.5   46205
2               1.5  21.7   37731
3               2.0  22.0   43525
4               2.2  22.2   39891
5               2.9  23.0   56642
6               3.0  23.0   60150
7               3.2  23.3   54445
8               3.2  23.3   64445
9               3.7  23.6   57189
10              3.9  23.9   63218
11              4.0  24.0   55794
12              4.0  24.0   56957
13              4.1  24.0   57081
14              4.5  25.0   61111
15              4.9  25.0   67938
16              5.1  26.0   66029
17              5.3  27.0   83088
18              5.9  28.0   81363
19              6.0  29.0   93940
20              6.8  30.0   91738
21              7.1  30.0   98273
22              7.9  31.0  101302
23              8.2  32.0  113812
24              8.7  33.0  109431
25              9.0  34.0  105582
26              9.5  35.0  116969
27              9.6  36.0  112635
28             10.3  37.0  122391
29             10.5  38.0  121872>

In [5]:
df.columns

Index(['YearsExperience', 'Age', 'Salary'], dtype='object')

In [6]:
df.dtypes

YearsExperience    float64
Age                float64
Salary               int64
dtype: object

In [7]:
df.isnull().sum()

YearsExperience    0
Age                0
Salary             0
dtype: int64

In [10]:
sum_table= df.groupby('Age')['Salary'].agg(['mean','median','min','max','std'])

In [12]:
print(sum_table)

               mean    median     min     max          std
Age
21.0   39343.000000   39343.0   39343   39343          NaN
21.5   46205.000000   46205.0   46205   46205          NaN
21.7   37731.000000   37731.0   37731   37731          NaN
22.0   43525.000000   43525.0   43525   43525          NaN
22.2   39891.000000   39891.0   39891   39891          NaN
23.0   58396.000000   58396.0   56642   60150  2480.530588
23.3   59445.000000   59445.0   54445   64445  7071.067812
23.6   57189.000000   57189.0   57189   57189          NaN
23.9   63218.000000   63218.0   63218   63218          NaN
24.0   56610.666667   56957.0   55794   57081   709.966431
25.0   64524.500000   64524.5   61111   67938  4827.417995
26.0   66029.000000   66029.0   66029   66029          NaN
27.0   83088.000000   83088.0   83088   83088          NaN
28.0   81363.000000   81363.0   81363   81363          NaN
29.0   93940.000000   93940.0   93940   93940          NaN
30.0   95005.500000   95005.5   91738   98273  4620.942815
31.0  101302.000000  101302.0  101302  101302          NaN
32.0  113812.000000  113812.0  113812  113812          NaN
33.0  109431.000000  109431.0  109431  109431          NaN
34.0  105582.000000  105582.0  105582  105582          NaN
35.0  116969.000000  116969.0  116969  116969          NaN
36.0  112635.000000  112635.0  112635  112635          NaN
37.0  122391.000000  122391.0  122391  122391          NaN
38.0  121872.000000  121872.0  121872  121872          NaN

In [14]:
df1=pd.read_csv('iris.data.csv')

In [15]:
df1.head

<bound method NDFrame.head of      5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]>

In [16]:
df1.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [17]:
df1.dtypes

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [18]:
df1.isnull().sum()

5.1            0
3.5            0
1.4            0
0.2            0
Iris-setosa    0
dtype: int64