In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import seaborn as sns

In [4]:
df=pd.read_csv('Academic.csv')

In [5]:
df.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

In [6]:
df.columns

Index(['gender', 'NationalITy', 'PlaceofBirth', 'StageID', 'GradeID',
       'SectionID', 'Topic', 'Semester', 'Relation', 'raisedhands',
       'VisITedResources', 'AnnouncementsView', 'Discussion',
       'ParentAnsweringSurvey', 'ParentschoolSatisfaction',
       'StudentAbsenceDays', 'Class'],
      dtype='object')

In [7]:
df.describe

<bound method NDFrame.describe of     gender NationalITy PlaceofBirth       StageID GradeID SectionID  \
0        M          KW       KuwaIT    lowerlevel    G-04         A
1        M          KW       KuwaIT    lowerlevel    G-04         A
2        M          KW       KuwaIT    lowerlevel    G-04         A
3        M          KW       KuwaIT    lowerlevel    G-04         A
4        M          KW       KuwaIT    lowerlevel    G-04         A
..     ...         ...          ...           ...     ...       ...
475      F      Jordan       Jordan  MiddleSchool    G-08         A
476      F      Jordan       Jordan  MiddleSchool    G-08         A
477      F      Jordan       Jordan  MiddleSchool    G-08         A
478      F      Jordan       Jordan  MiddleSchool    G-08         A
479      F      Jordan       Jordan  MiddleSchool    G-08         A

         Topic Semester Relation  raisedhands  VisITedResources  \
0           IT        F   Father           15                16
1           IT        F   Father           20                20
2           IT        F   Father           10                 7
3           IT        F   Father           30                25
4           IT        F   Father           40                50
..         ...      ...      ...          ...               ...
475  Chemistry        S   Father            5                 4
476    Geology        F   Father           50                77
477    Geology        S   Father           55                74
478    History        F   Father           30                17
479    History        S   Father           35                14

     AnnouncementsView  Discussion ParentAnsweringSurvey  \
0                    2          20                   Yes
1                    3          25                   Yes
2                    0          30                    No
3                    5          35                    No
4                   12          50                    No
..                 ...         ...                   ...
475                  5           8                    No
476                 14          28                    No
477                 25          29                    No
478                 14          57                    No
479                 23          62                    No

    ParentschoolSatisfaction StudentAbsenceDays Class
0                       Good            Under-7     M
1                       Good            Under-7     M
2                        Bad            Above-7     L
3                        Bad            Above-7     L
4                        Bad            Above-7     M
..                       ...                ...   ...
475                      Bad            Above-7     L
476                      Bad            Under-7     M
477                      Bad            Under-7     M
478                      Bad            Above-7     L
479                      Bad            Above-7     L

[480 rows x 17 columns]>

In [8]:
df.dtypes

gender                      object
NationalITy                 object
PlaceofBirth                object
StageID                     object
GradeID                     object
SectionID                   object
Topic                       object
Semester                    object
Relation                    object
raisedhands                  int64
VisITedResources             int64
AnnouncementsView            int64
Discussion                   int64
ParentAnsweringSurvey       object
ParentschoolSatisfaction    object
StudentAbsenceDays          object
Class                       object
dtype: object

In [10]:
df.dtypes.value_counts()

object    13
int64      4
Name: count, dtype: int64

In [16]:
print(df.columns)

Index(['gender', 'NationalITy', 'PlaceofBirth', 'StageID', 'GradeID',
       'SectionID', 'Topic', 'Semester', 'Relation', 'raisedhands',
       'VisITedResources', 'AnnouncementsView', 'Discussion',
       'ParentAnsweringSurvey', 'ParentschoolSatisfaction',
       'StudentAbsenceDays', 'Class'],
      dtype='object')

In [18]:
df['SectionID'] = df['SectionID'].astype('category')

In [19]:
df.dtypes

gender                      category
NationalITy                   object
PlaceofBirth                  object
StageID                       object
GradeID                       object
SectionID                   category
Topic                         object
Semester                      object
Relation                      object
raisedhands                    int64
VisITedResources               int64
AnnouncementsView              int64
Discussion                     int64
ParentAnsweringSurvey         object
ParentschoolSatisfaction      object
StudentAbsenceDays            object
Class                         object
dtype: object

In [21]:
df['SectionID'] = pd.factorize(df['SectionID'])[0]

In [22]:
df.dtypes

gender                      category
NationalITy                   object
PlaceofBirth                  object
StageID                       object
GradeID                       object
SectionID                      int64
Topic                         object
Semester                      object
Relation                      object
raisedhands                    int64
VisITedResources               int64
AnnouncementsView              int64
Discussion                     int64
ParentAnsweringSurvey         object
ParentschoolSatisfaction      object
StudentAbsenceDays            object
Class                         object
dtype: object

In [24]:
df.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [33]:
from scipy import stats

In [44]:
# Calculate the z-scores for 'SectionID'
z_scores = np.abs(stats.zscore(df['SectionID']))

In [45]:
# Set the threshold for identifying outliers
threshold = 3

In [46]:
# Identify outliers using the z-scores
outliers = df[np.abs(z_scores) > threshold]

In [47]:
# Handle outliers by removing or adjusting them
df_cleaned = df.drop(outliers.index)

In [48]:
df_adjusted = df.copy()

In [49]:
df_adjusted.loc[np.abs(z_scores) > threshold] = df_adjusted.mean()

TypeError: 'Categorical' with dtype category does not support reduction 'mean'

In [52]:
# Apply logarithmic transformation to 'Variable1'
df['Variable1_Log'] = np.log(df['SectionID'])

C:\Users\91620\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\arraylike.py:396: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [58]:
# Apply square root transformation to 'Variable2'
df['Variable2_Sqrt'] = np.sqrt(df['raisedhands'])

In [55]:
df.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class,Variable1_Log,Variable2_Sqrt
0,M,KW,KuwaIT,lowerlevel,G-04,0,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M,-inf,3.872983
1,M,KW,KuwaIT,lowerlevel,G-04,0,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M,-inf,4.472136
2,M,KW,KuwaIT,lowerlevel,G-04,0,IT,F,Father,10,7,0,30,No,Bad,Above-7,L,-inf,3.162278
3,M,KW,KuwaIT,lowerlevel,G-04,0,IT,F,Father,30,25,5,35,No,Bad,Above-7,L,-inf,5.477226
4,M,KW,KuwaIT,lowerlevel,G-04,0,IT,F,Father,40,50,12,50,No,Bad,Above-7,M,-inf,6.324555

In [56]:
df.dtypes

gender                      category
NationalITy                   object
PlaceofBirth                  object
StageID                       object
GradeID                       object
SectionID                      int64
Topic                         object
Semester                      object
Relation                      object
raisedhands                    int64
VisITedResources               int64
AnnouncementsView              int64
Discussion                     int64
ParentAnsweringSurvey         object
ParentschoolSatisfaction      object
StudentAbsenceDays            object
Class                         object
Variable1_Log                float64
Variable2_Sqrt               float64
dtype: object