In [2]:
!pip install pandas numpy

Collecting pandas
  Downloading pandas-2.0.2-cp310-cp310-win_amd64.whl (10.7 MB)
     --------------------------------------- 10.7/10.7 MB 87.1 kB/s eta 0:00:00
Requirement already satisfied: numpy in c:\users\91620\appdata\local\programs\python\python310\lib\site-packages (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\91620\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\91620\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.7.1)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ------------------------------------ 341.8/341.8 kB 105.1 kB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\91620\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.0.2 tzdata-2023.3

[notice] A new release of pip available: 22.2.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('Housing.csv')

In [5]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [6]:
df.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [7]:
df.size

7085

In [8]:
df.shape

(545, 13)

In [9]:
missing_values=df.isnull().sum()

In [10]:
print(missing_values)

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [11]:
# Get initial statistics
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [12]:
df.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [13]:
df.dtypes.value_counts()

object    7
int64     6
Name: count, dtype: int64

In [14]:
# Convert Pclass to categorical
df['area'] = df['area'].astype('category')

In [15]:
df['bedrooms']=df['bedrooms'].astype('category')

In [16]:
df.dtypes

price                  int64
area                category
bedrooms            category
bathrooms              int64
stories                int64
mainroad              object
guestroom             object
basement              object
hotwaterheating       object
airconditioning       object
parking                int64
prefarea              object
furnishingstatus      object
dtype: object

In [17]:
# Convert categorical variables to quantitative variables
df['area'] = pd.factorize(df['area'])[0]

In [ ]:
df['bedrooms']=