In [6]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\91620\appdata\local\programs\python\python310\lib\site-packages (1.2.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\91620\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\91620\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\91620\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.24.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\91620\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [10]:
df=pd.read_csv('HousingData.csv')

In [11]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [12]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [13]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [14]:
df=df.dropna()

In [15]:
df.dtypes.value_counts()

float64    12
int64       2
Name: count, dtype: int64

In [16]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [17]:
x=df[['MEDV']]
y=df[['INDUS']]

In [18]:
x

     MEDV
0    24.0
1    21.6
2    34.7
3    33.4
5    28.7
..    ...
499  17.5
500  16.8
502  20.6
503  23.9
504  22.0

[394 rows x 1 columns]

In [19]:
y

     INDUS
0     2.31
1     7.07
2     7.07
3     2.18
5     2.18
..     ...
499   9.69
500   9.69
502  11.93
503  11.93
504  11.93

[394 rows x 1 columns]

In [20]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [21]:
X_train

     MEDV
421  14.2
232  41.7
218  21.5
75   21.4
439  12.8
..    ...
84   23.9
128  18.0
345  17.5
448  14.1
122  20.5

[315 rows x 1 columns]

In [22]:
X_test

     MEDV
93   25.0
352  18.6
319  21.0
65   23.5
499  17.5
..    ...
470  19.9
97   38.7
137  17.1
3    33.4
22   15.2

[79 rows x 1 columns]

In [23]:
Y_train

     INDUS
421  18.10
232   6.20
218  13.89
75   12.83
439  18.10
..     ...
84    4.49
128  21.89
345   4.39
448  18.10
122  25.65

[315 rows x 1 columns]

In [24]:
Y_test

     INDUS
93   15.04
352   1.69
319   9.90
65    3.37
499   9.69
..     ...
470  18.10
97    2.89
137  21.89
3     2.18
22    8.14

[79 rows x 1 columns]

In [25]:
model=LinearRegression()

In [26]:
model.fit(X_train,Y_train)

LinearRegression()

In [27]:
y_pred=model.predict(X_test)

In [31]:
from sklearn.metrics import mean_squared_error

In [32]:
# Calculate the root mean squared error (RMSE)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("Root Mean Squared Error (RMSE):", rmse)

NameError: name 'y_test' is not defined